<h1>Add a new word</h1>

<form action="/words" method="post">
  <label for="Word">Add word</label>
  <input type="text" name="word" id="word">
  <button type="submit" class="btn-primary">Add</button>
</form>
